# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.pytest_cache/

# IDEs
.vscode/
.idea/
.DS_Store

# Project-specific
uploads/
outputs/
